@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');

.duolingo-image{
    width: 23%;
    position: fixed;
    top: 90px;
    left: 40px;
}

.languages{
    position: fixed;
    top: 120px;
    left: 350px;
    font-family: poppins;
    font-size: 20px;
}

.memrise-image{
    width: 27%;
    position: fixed;
    top: 270px;
    left: 290px;
}

.game1{
    width: 27%;
    position: fixed;
    top: 100px;
    right: 100px;
}

.gaming{
    position: fixed;
    top: 260px;
    right: 110px;
    text-align: center;
    font-family: poppins;
    font-size: 20px;
}

.game2{
    width: 27%;
    position: fixed;
    top: 370px;
    right: 100px;
}

.show{
    width: 27%;
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.show-text{
    font-family: poppins;
    font-size: 20px;
    position: fixed;
    bottom: 90px;
    left: 430px;
}

.heading{
    font-family: 'Dancing Script';
    text-align: center;
    font-size: 50px;
    position: relative;
    top: -60px;
}