@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');

html {
    scroll-behavior: smooth;
    
}

#home {
    position: absolute;
    left: 0vw;
    top: 0vw;
    background-color: rgb(238, 255, 255);
    width: 100%;
    height: 100%;
    overflow:hidden;
}

img.computer-image{
    width: 72.7vw; height: 43.4vw; position: absolute; top: 6.4vw; left: 0vw;
}

img.profile-photo{
    position: absolute;
    width: 13vw;
    right: 6vw;
    top: 5vw;
    border: 0cap;
    border-radius: 50%;
    border-style: double;
}

.greeting {
    position: relative;
    top: 35.5vw;
    left: 2.5vw;
    color: aliceblue;
    font-family: 'dancing script';
    font-weight: lighter;
    font-size: 2vw;
}

.name {
    position: relative;
    top: 32vw;
    left: 2.5vw;
    font-family: poppins, sans-serif;
    font-size: 4vw;
    color: white;
}

.name2 {
    position: absolute;
    font-size: 2.4vw;
    right: 1.5vw;
    top: 18vw;
    font-family: poppins;
}

.skills {
    position: absolute;
    right: 4.8vw;
    top: 24vw;
    font-family: poppins;
    text-align: center;
}

.info {
    position: absolute;
    right: 4vw;
    bottom: 4vw;
    font-family: poppins;
    text-align: center;
    font-size: 1.2vw;
}

.role {
    position: relative;
    top: 28.2vw;
    left: 2.5vw;
    color: aliceblue;
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
    font-size: 2vw;
}

.links {
    margin-left: 1vw;
    position: fixed;
    top: 1vw;
    font-size: 1.2vw;
    font-family: poppins;
    color: none;
}

#navigation{
    color: rgb(0, 0, 0);
}

#about{
    position: absolute; 
    top: 49.5vw; 
    right: 0vw; 
    background-color: rgb(250, 232, 235); 
    width: 100%; 
    height: 99.3%;
}

.profile-photo2{
    width: 21vw;
    position:absolute;
    bottom: 2vw;
    left: 43vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 4vw;
    border-radius: 50vw;    
}

.heading {
    font-size: 50px;
    font-family: poppins;
    position: relative;
    text-align: center;
    left: 480;
    top: 11px;
}

.paragraph {
    font-family: poppins;
    text-align: center;
    position: relative;
    top: 90px;
}

#skills{
    position: absolute; 
    top: 98.5vw; 
    right: 0vw; 
    background-color: rgb(237, 250, 232); 
    width: 100%; 
    height: 100%;
}


#interests{
    position: absolute; 
    bottom: -155.7vw; 
    top: 148vw;
    right: 0vw; 
    background-color: rgb(233, 255, 207); 
    width: 100%; 
    height: 100%;
}

.duolingo-image {
    width: 26vw;
    position: absolute;
    top: 7vw;
    left: 3vw;
}

.languages {
    position: absolute;
    top: 9vw;
    left: 26vw;
    font-family: poppins;
    font-size: 20px;
}

.memrise-image {
    width: 27vw;
    position: absolute;
    top: 20vw;
    left: 21vw;
}

.game1 {
    width: 27vw;
    position: absolute;
    top: 8vw;
    right: 5vw;
}

.gaming {
    position: absolute;
    top: 20vw;
    right: 11vw;
    text-align: center;
    font-family: poppins;
    font-size: 1.5vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.game2 {
    margin-top: 10px;
    width: 23vw;
    position: absolute;
    bottom: 7vw;
    right: 20vw;
}

.game3 {
    width: 26vw;
    position: absolutezzz;
    bottom: 0px;
    right: 0px;
}

.show {
    width: 27vw;
    position: absolute;
    bottom: 2.5vw;
    left: 0vw;
}

.show-text {
    font-family: poppins;
    font-size: 1.5vw;
    position: absolute;
    bottom: 5vw;
    left: 30vw;
}

.heading {
    font-family: 'Dancing Script';
    text-align: center;
    font-size: 3.5vw;
    position: relative;
    top: 0vw;
}

#portfolio {
    position: absolute; 
    bottom: -155.7vw; 
    top: 198vw;
    right: 0vw; 
    background-color: rgb(254, 255, 207); 
    width: 100%; 
    height: 100%;
}

p.comming-soon{
    font-family: poppins;
    position: absolute;
    text-align: center;
    top: 19vw;
    right: 32vw;
    font-size: 1.7vw;
    font-weight: 600;
}